html,
body,
#App {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #F9EEDF;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

form,
input,
textarea,
select {
	width: 100%;
}

form {
	font-size: 1.8rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	background: rgba(255, 255, 255, 0.75);
	padding: 75px;
	max-height: 90%;
	overflow-y: auto;

	@media only screen and (max-width: 720px) {
		padding: 50px 25px;
	}

	/* Scrollbar Styling */
	// Firefox
	scrollbar-color: rgba(255, 255, 255, 0.2) var(--color--primary);
	scrollbar-width: thin;

	// Chrome/Safari/Edge
	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-secondary);
	}
}

textarea {
	resize: vertical;
	min-height: 100px;
}

label {
	font-weight: bold;
	color: var(--color-secondary);
}
