.paragraph {
	font-size: 1.8rem;
}

.paragraph--thanks {
	color: var(--color-primary-dark);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 3.4rem;
	line-height: 1.4;
	text-align: center;

	i {
		font-size: 2.4rem;
		font-weight: 400;
	}
}
