html,
body,
#App {
	height: 100%;
}

.u-center-page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.u-flex {
	display: flex;
}

.l-container {
	max-width: 660px;
	margin: 0 auto;
}